body {
  padding-top: 1px !important;
}
.page-header {
  margin-top: 1px !important;
}
.col-padding-top-25-left-25 {
  margin-top: 25px !important;
  margin-left: 25px !important;
}
h1 a:hover {
  text-decoration: none !important;
}
